<div class="medium-2 columns sidebar"  data-equalizer-watch>
	<ul class="menu vertical" align="center">
  <li> <a href="#">
		 <i class="fa fa-user fa-2x dash_icons" aria-hidden="true"></i> </br>
		 <%= user.username %>
	</a>
	</li>
	<li <% if (page === 'events') { %>class="active" <% } %> ><a href="/events">
		<i class="fa fa-calendar fa-2x dash_icons" aria-hidden="true"></i> </br> Events
	</a></li>
  <li <% if (page === 'shares') { %>class="active" <% } %>><a href="/manageshares">
		<i class="fa fa-briefcase fa-2x dash_icons" aria-hidden="true"></i> </br> Shares
	</a></li>

	<li <% if (page === 'members') { %>class="active" <% } %>><a href="/members">
		<i class="fa fa-cubes fa-2x dash_icons" aria-hidden="true"></i> </br> Members
	</a></li>

	<li <% if (page === 'roles') { %>class="active" <% } %>><a href="/roles">
		<i class="fa fa-cogs fa-2x dash_icons" aria-hidden="true"></i> </br> Roles
	</a></li>
	<li><a href="#">
		<i class="fa fa-envelope fa-2x dash_icons" aria-hidden="true"></i> </br> Messages
	</a></li>

</ul>
</div>
