<footer id="contacts" >
  <div class="row" style="background-color:#d5d9ca; ">
    <div class="medium-5 columns">
      <h5>Contact our customer care on :-</h5>
        <p>
          <a href="mailto:companyemailhere@example.com"></a>
          <address>
            give the address here like street or location </br>
            of your office
          </address>
          <span> Tel. No. XXXXXXXX</span>
        </p>
    </div>
    <div class="medium-5 columns">
      <div class="row">
        <h5>Also find us on social media as follows:-</h5>
      </div>
        <div class="row">
          <div class="columns medium-2">
            <span><a href="#"><i class="fa fa-3x fa-facebook-official" aria-hidden="true"></i></a></span>
         </div>
         <div class="columns medium-2">
           <span><a href="#"><i class="fa fa-3x fa-instagram" ariahidden="true"></i></a></span>
        </div>
        <div class="columns medium-2">
        <span><a href="#"><i class="fa fa-3x fa-twitter" ariahidden="true"></i></a></span>
      </div>
      <div class="columns medium-2 end">
        <span><a href="#"><i class="fa fa-3x fa-youtube" ariahidden="true"></i></a></span>
      </div>
    </div>

    </div>
  </div>
</footer>
