<!DOCTYPE html>

<html>
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!--<meta http-equiv="Content-Type" content="cache"/>-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="INDEX, FOLLOW" c/>
		<meta name="keywords" content="table-banking system"/>
		<meta name="description" content="A system to manage all chama activities"/>
		
		<link rel="stylesheet" href="/bower_components/foundation-sites/dist/css/foundation.css"/>
		<link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css"/>
		 <link rel="stylesheet" href="/bower_components/jt.timepicker/jquery.timepicker.css"/>
		 <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen"/>
		<link rel="icon" href="images/social/logo-re.jpg" type="image"/>
		<title>M-entreprenueres</title>
	</head>

