<% include partials/masterhead %>
<body>
  <% include admindashboard/topbar %>

  <div class="row layout" data-equalizer data-equalize-on="medium" >
    <% include admindashboard/sidebar %>
    <div class="medium-10 columns" data-equalizer-watch style="background-color: #eee;">
      <%-body %>
    </div>
  </div>

  <% include partials/pagescripts %>

</body>
