<% include partials/masterhead %>
<body>
		<div id="outer">
		<div id="wrapper">
			<div id="logo">
				<img src="images/social/logo-re.jpg"/>
				<strong>United we succeed</strong>
			</div>
			<div id="social-icons">
				<ul>
					<li><a href="#"><img src="images/social/fb-re.png"></a></li>
					<li><a href="#"><img src="images/social/google-re.png"></a></li>
					<li><a href="#"><img src="images/social/twitter-re.png"></a></li>
					<li><a href="#"><img src="images/social/youtube-re.png"></a></li>
				</ul>
			</div>
			<div id="topnav">
				<ul>
					<li><a href="#">HOME</a></li>
					<li><a href="#">ABOUT</a></li>
					<li><a href="/login">LOGIN</a></li>
					<li><a href="#">CONTACTS</a></li>
				</ul>
			</div>
			<div id="banner">
			  <div class="center_box">
				<h1>
				 Rise Mombasa people &mdash; Join the table banking system;</br>contribute, save and
				 realise your dreams <i class="fa fa-smile-o" aria-hidden="true"></i>
				 </h1>
				<a class="btn btn_more" href="/signup" style="padding:4px;">Join today</a></br>
				<span style="margin-left:47%;"><i class="fa fa-spinner fa-spin fa-4x"></i></span>
			 </div>
			</div>
			<div id="content">
				<h1>Welcome to Victory self-help group system</h1>
				<p>
				 Table banking is a concept similar to the merry-go-round.  The only difference is that the money 
				 contributed by the members is not given to one person to take home.  What happens is that the
				 money is collected and then members take soft loans until all the money is used up.  During the
				 next meeting, each member pays back her loan with an interest varying from 10 to 20 percent,
				 depending on what the group decides.  This way, the money keeps growing and more money is
				 available for members to borrow every time. On their meetings the members make other
				 contributions, repay their loans, borrow loans either as long term or short term and also place
				 their saving. 
				</p>
				<img class="image-frame" src="images/social/tbanking-180.jpg"/>
				<img class="image-frame" src="images/social/tbanking-180.jpg"/>
				<p>
			   	 In table banking the priority to access loans is given to the poor to improve their financial
				 status. In table banking, the difference is that the group guarantees you, and your household
				 items (TVs, Chairs for example) are the only collateral you need to qualify for the loan.
				 Table-banking methodology is not based on assessing the material possession of a person;
				 it is based on the potential of a person. Joining a table banking group is so easy, you only
				 need to find an active one that you are very familiar with the members then pay the membership
				 amount and start making you contribution.
				</p>
			</div>
			<div id="right-side">
				<h1>Latest Events</h1>
				
				<p id="date">May 21, 2017</p>
				<h3>Chama Annual Meeting</h3>
				<p>
					This annual meeting will be held in the chama main center.The main agenda is investing for
				   	the chama. we are all adviced to keep time.
				</p>
				
				<p id="date">May 21, 2017</p>
				<h3>Chama Annual Meeting</h3>
				<p>
					This annual meeting will be held in the chama main center.The main agenda is investing for
				   	the chama. we are all adviced to keep time.
				</p>
			</div>
			<div id="footer">
				<h3>&copy Copyright,victory 2017. All rights reserved.</h3>
			</div>
		</div>
		</div>
  <% include partials/pagescripts %>
	</body>
</html>
