<% include partials/masterhead %>
<body>
<header id="header" >
  <nav>
    <div class="row ">
      <img src="/images/logo.jpg" alt="M-Entreprenuers logo" class="logo" >
      <ul class="main_nav">
  			<li><a  href="#header">Home</a></li>
  			<li><a  href="#about-us">About us</a></li>
  			<li><a  href="#gallery">Gallery</a></li>
  			<li><a  href="#our-services">Our services</a></li>
  			<li><a  href="#contacts">Contact us</a></li>
  		</ul>
    </div>
  </nav>
  <div class="center_box">
    <h1> Raise up Meru people; Join the table banking <br> system, save and realise your dreams</br> </h1>
    <a class="btn btn_more" href="/signup" style="padding:4px;">Join today</a>
	 </div>
</header>
</div>
  <% include partials/tbankinginfo%>
  <% include partials/pagescripts%>
  <% include partials/footer%>
</body>
