<% include partials/masterhead %>
<div class="row" style="margin-top : 5%; ">
  <div class="medium-5 columns medium-offset-4 authent">
      <form action="/resetpass" method="post" >
        <div class="row">
          <div class="medium-7 columns medium-offset-2" align="center">
            <h1> Password reset</h1>
          </div>
        </div>
	    <div class="row">
          <div class="medium-8 columns medium-offset-2" style="margin-top:2%; margin-bottom: 2%;">
            <% include /partials/flash %>
          </div>
        </div>
         <div class="row" >
          <div class="medium-7 columns medium-offset-2" >
            <label> <h6>User Name</h6>
               <input type="text" name="username" placeholder="User name">
            </label>
          </div>
        </div>
        <div class="row" >
          <div class="medium-7 columns medium-offset-2" >
            <label><h6> Email Adddress</h6>
               <input type="email" name="email" placeholder="Your email address">
            </label>
          </div>
        </div>
		 <div class="row" >
          <div class="medium-7 columns medium-offset-2" >
            <label><h6>New Password</h6>
               <input type="password" name="password1" placeholder="Enter new password"/>
            </label>
          </div>
        </div>
		<div class="row" >
          <div class="medium-7 columns medium-offset-2" >
            <label><h6>Confirm Password</h6>
               <input type="password" name="password" placeholder="Confirm new password"/>
            </label>
          </div>
        </div>
	
        <div class="row" >
          <div class="medium-4 columns medium-offset-2" >
            <button type="submit" class="button success"><strong>Reset</strong></button>
          </div>
		  <div class="medium-4 columns end" >
			<p>Back to login? <a href="/login">Login</a></p>	
          </div>
         </div>
	 </form>
  </div>
</div>
<% include partials/pagescripts %>
