body{
	margin			: 0 auto;
	padding			: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) , url(../images/bg.jpg);
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    height: 100vh;
}

/* Headings */
h1,h2,h3,h4,h5,h6{font-weight : bold;}
h1{font-size : 24px;}
h2{font-size : 20px;}
h3{font-size : 16px;}
#outer{
	background-color		: #fff;
	max-width				: 1080px;
	margin    				: 0.5% auto 0 auto;
	border-radius	: 2em;
}
#wrapper{
	max-width	: 1024px;
	margin   	: 0 auto;
}

#logo{
 float : left;
 margin-top : 10px;
}
#social-icons{
	margin-top : 10px;
	float : right;
}
#social-icons ul{
	list-style : none;
}
#social-icons ul li{
	display	: inline;
}

#topnav{
	clear: both;
}
#topnav ul{
	margin			: 0 0 16px 0;
	list-style		: none;
	border-top		: 1px #ccc solid;
	border-bottom	: 1px #ccc solid;
	padding			: 10px 0;
}
#topnav ul li{
 display	: inline;
}
#topnav ul li a{
	padding			: 0 15px;
	text-decoration : none;
}
#topnav a:link{
	color		: #000;
	font-weight	: bold;
}
#topnav a:visited{
	color : #000;
}
#topnav a:hover{
	color : #f90;
}
#topnav a:focus{
	color : #666;
}
/*-------------------------------------*/
/*   Sticky navigation */
/*-------------------------------------*/
.sticky{
	width: 1024px;
	position: fixed;
	top: 0;
	background-color:  #fff;
	box-shadow: 0 4px 4px #747474;
	z-index: 999;
 }
#banner{ 
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,
  url(../images/tbanking-350.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) , url(../images/tbanking-350.jpg);
  background-size:cover;
  position:relative;
  background-attachment: fixed;
  height:350px;
  border-radius: 3%;
}
.fa-spin{
	animation : fa-spin 3s infinite linear;
}
.center_box{
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50% , -50%);
    transform:translate(-50% , -50%);
	  color:white;
}

.center_box h1 {
	text-align	: center;
	font-size 	: 34px;
}
/*-------------------------------------*/
/*  ----- buttons */
/*-------------------------------------*/
.btn:link, .btn:visited {
    display: inline-block;
    padding: 10px 5%;
    font-weight: 300;
    text-decoration: none;
   color: #fff;
   -webkit-transition: background-color 0.2s, border0.2s, color 0.2s;
   transition: background-color 0.2s, border0.2s, color 0.2s;
}

.btn_more:hover,
.btn_more:active{
    background-color: goldenrod;
    color:#fff;
}
.btn_more{
  background-color: none;
	margin-left:43%;
	border-radius: 7%;
	font-size: 160%;
  border: 2px solid white;
}
#content{
	margin-top	: 2%;
	width 		: 69%;
	float 		: left;
}
#content h1, #date{
	color : #e8b10c;
}
#content h1{
	padding-bottom	: 15px;
	border-bottom 	: 1px #ccc solid;
	margin-bottom	: 15px;
}
#content p{
	margin-bottom : 15px;
}

.image-frame{
	padding : 10px;
	border	: 1px #ccc solid;
	margin	: 10px;
}
#right-side{
	margin-top	: 2%;
	width 		: 28%;
	float 		: right;
	margin-left	: 3%;
}
#footer{
	clear : both;
	border-top 		: 1px #000 dotted;
	padding			: 0.5% auto;
	margin-bottom	: 0 auto;
}
#footer h3{
	text-align		: center;
	padding-bottom 	: 1.5%;
}
/*-------------------------------------*/
/*  ----- components colors ---------- */
/*-------------------------------------*/
.authent{
	background-color : #fff;
	padding-top		 : 20px;
	border-radius	 : 2em;
}
.layout{
	background-color : #eee;
}
/*-------------------------------------*/
/*  ----- Input & text area ---------- */
/*-------------------------------------*/
input[type='text']:focus,input[type='email']:focus, input[type='password']:focus {
 background-color :rgb(250, 255, 189);
}
.sidebar{
  background-color:#33334d;
}
.sidebar ul li a, .top_bar ul li a {
  color: white;
}
.sidebar ul li a:hover, .top_bar ul li a:hover {
  color: orange;
}
/*-------------------------------------*/
/*------- ---- icons ------------------*/
/*-------------------------------------*/
.dash_icons{
  margin-bottom: 9px;
}
.fa-exclamation-triangle{
	color : #cc4b37;
}
