header{
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url(../images/tbanking.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url(../images/tbanking.jpg);
  background-size:cover;
  background-position:center;
  height: 100vh;
  margin: 1% 5.65% 0.2%;
  background-attachment: fixed;
}

.main_nav{
  float: right;
  list-style: none;
  margin-top: 3%;
  margin-right:5%;
}
.main_nav li{
  display: inline-block;
  margin-left: 10px;
  }
.main_nav li a:link,
.main_nav li a:visited{
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 110%;
  border-radius: 100px;
  padding: 4px;

  border: 2px solid  transparent;
  -webkit-transition: background-color 0.2s, border 1s, color 0.2s;
  transition: background-color 0.2s, border 1s, color 0.2s;
  }
.main_nav li a:hover,.main_nav li a:active{
  background-color: bisque;
  color:magenta;
  }
.logo{
    height: 50px;
    width: auto;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
  }
.center_box{
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50% , -50%);
    transform:translate(-50% , -50%);
	  color:white;
}
.center_box p{
	font-size: 120%;
	color: #9be622;

}
.center_box h1, .center_box p{
	text-align: center;
}
/*-------------------------------------*/
/*  ----- buttons */
/*-------------------------------------*/
.btn:link, .btn:visited {
    display: inline-block;
    padding: 10px 5%;
    font-weight: 300;
    text-decoration: none;
   color: #fff;
   -webkit-transition: background-color 0.2s, border0.2s, color 0.2s;
   transition: background-color 0.2s, border0.2s, color 0.2s;
}

.btn_more:hover,
.btn_more:active{
    background-color:#4dc3ff;
    color:#804000;
}
.btn_more{
  background-color: none;
	margin-left:43%;
	border-radius: 7%;
	font-size: 160%;
  border: 2px solid white;
}

/*-------------------------------------*/
/*   Sticky navigation */
/*-------------------------------------*/
.sticky{
	width: 88.7%;
	position: fixed;
	margin-right: 3%;
	top: 0;
	background-color:  #d5d9ca;
	box-shadow: 0 2px 2px #747474;
	z-index: 999;


 }
 .sticky .main_nav{
	  margin-top: 1%;
 }

.sticky  .logo{
	height: 50px;
	width: auto;
	margin-top: 3px;
	margin-bottom: 3px;

	}
.sticky .main_nav{
	margin-right: 0 auto;

}
.sticky .main_nav li a:link,
.sticky .main_nav li a:visited{
    color:#365000;
	background-color:  #d5d9ca;

    }
.sticky .main_nav li a:hover{
     background-color: bisque;
    color:magenta;
  	}
.tbinfo{
  margin-bottom: 0px;
}
.tbinfo h1{
  text-align: center;
}
.tbinfo h1:after  {
    display: block;
    height: 2px;
    background-color: #446600;
    content: " ";
    width: 10%;
    margin: 0 auto 1%;
    margin-top: 10px;
}
.sidebar{
  background-color:#33334d;
}
.sidebar ul li a, .top_bar ul li a {
  color: white;
}
.sidebar ul li a:hover, .top_bar ul li a:hover {
  color: orange;
}
.dash_icons{
  margin-bottom: 9px;
}
