<% layout('userlayout') %>
<div class="row collapse" >
	<div class=" row assets" align="center">
		<div class="callout">
			<h2> Victory group assets</h2>
		</div>
	</div>
	<div class="row assets">
		<div class="medium-6 columns" align="center">
			<img class="image-frame" src="images/g3.jpg"/>
			<p> Victory apartment at Mikindani</p>
		</div>
		<div class="medium-6 columns">
			<img class="image-frame" src="images/g4.jpg"/>
			<p> Victory apartment at Malindi</p>
		</div>
	</div>
	<div class="row assets">
		<div class="medium-10 columns medium-offset-1">
		<P> These are the assets that victory group cerrently has. Photos will be posted when new assets are
		 bought</P>
		</div>
	</div>
</div>
