<% layout('userlayout') %>
<div class="callout" align="center">
  some info about loan and the calculation process
</div>
<form action="/loancalc/new" method="post">

  <div class="row" >
    <div class="medium-1 columns medium-offset-2" >
    <label>Loan amount </label>
  </div>
    <div class="medium-4 columns end" >
       <input type="number" name="amount" placeholder="amount to borrow">
    </div>
  </div>

  <div class="row">
    <div class="medium-4 columns medium-offset-4">
      <button type="submit" class="button success">Calculate </button>
    </div>
  </div>
</form>
