<% layout('userlayout') %>
<div class="callout">
  some info about shares
</div>
<div class="row">
  <div class="columns medium-6 medium-offset-2">
      <p>To view your latest shares amount, click on the shares button</p>
  </div>
</div>
<div class="row">
  <div class="columns medium-3 medium-offset-4">
    <a href="/viweshares" class="button success large"> Shares</a>
  </div>
</div>
