<div class="row collapse" >
	<div class="medium-12 columns" >
    <div class="top-bar" style="background-color:#73738c;">
      <div class="columns medium-2">
      <div class="top-bar-title" style="color: white;">Meruent</div>
    </div>

      <div>
        <div class="columns medium-10">
        <div class="top-bar-left top_bar" >
          <ul class="menu" style="background-color:#73738c;">
            <li><a href="#"><i class="fa fa-google-wallet" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-gg" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-usd" aria-hidden="true"></i></a></li>
          </ul>

        </div>
        <div class="top-bar-right top_bar">
          <ul class="menu" style="background-color:#73738c;">
						<li><a href="#"><i class="fa fa-university " aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-visa" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-universal-access" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      </div>
    </div>
	</div>
</div>
